.module-city-choose {
    padding: 30px 0;

    column-count: 4;
    font-size: 14px;
}

.module-city-choose__line {
    padding: 8px 0;

    overflow: hidden;
}


.module-city-choose__line_new-letter {
    margin-top: 30px;
}

.module-city-choose__line:first-child {
    margin-top: 0;
}

.module-city-choose__letter {
    width: 20%;
    float: left;

    color: #8E8E8E;
    visibility: hidden;
}

.module-city-choose__line_new-letter .module-city-choose__letter {
    visibility: visible;
}

.module-city-choose__city {
    width: 80%;
    float: left;
}

.module-city-choose__link {
    color: #424242;
    text-decoration: none;
}
