.category {
}

.category__title {
    padding-left: 50px;
    padding-bottom: 16px;
    box-sizing: border-box;

    width: 100%;
    height: 63px;
    display: table;

    background-position: 0 calc(50% - 8px);
    background-repeat: no-repeat;
    background-image: url("category__title.png");
    border-bottom: 1px solid #e6e6e6;
}

.category__title-link {
    height: 70px;
    display: table-cell;

    color: #424242;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    vertical-align: middle;
}

.category__list {
    line-height: 1.3;
}

.category__item {
    color: inherit;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
}

.category__item:after {
    color: #b8b8b8;
    content: "/";
    margin: 0 5px 0 10px;
}

.category__item:last-child:after {
    display: none;
}
